.sheet-fireInert,
.sheet-fireWaning,
.sheet-fireStrong,
.sheet-iceInert,
.sheet-iceWaning,
.sheet-iceStrong,
.sheet-earthInert,
.sheet-earthWaning,
.sheet-earthStrong,
.sheet-airInert,
.sheet-airWaning,
.sheet-airStrong,
.sheet-lightInert,
.sheet-lightWaning,
.sheet-lightStrong,
.sheet-darkInert,
.sheet-darkWaning,
.sheet-darkStrong {
  display: none;
}

/*Show selected element status*/
.sheet-fireToggle[value="fireInert"] ~ tr.sheet-fireInert,
.sheet-fireToggle[value="fireWaning"] ~ tr.sheet-fireWaning,
.sheet-fireToggle[value="fireStrong"] ~ tr.sheet-fireStrong {
  display: table-row;
}

.sheet-iceToggle[value="iceInert"] ~ tr.sheet-iceInert,
.sheet-iceToggle[value="iceWaning"] ~ tr.sheet-iceWaning,
.sheet-iceToggle[value="iceStrong"] ~ tr.sheet-iceStrong {
  display: table-row;
}

.sheet-earthToggle[value="earthInert"] ~ tr.sheet-earthInert,
.sheet-earthToggle[value="earthWaning"] ~ tr.sheet-earthWaning,
.sheet-earthToggle[value="earthStrong"] ~ tr.sheet-earthStrong {
  display: table-row;
}

.sheet-airToggle[value="airInert"] ~ tr.sheet-airInert,
.sheet-airToggle[value="airWaning"] ~ tr.sheet-airWaning,
.sheet-airToggle[value="airStrong"] ~ tr.sheet-airStrong {
  display: table-row;
}

.sheet-lightToggle[value="lightInert"] ~ tr.sheet-lightInert,
.sheet-lightToggle[value="lightWaning"] ~ tr.sheet-lightWaning,
.sheet-lightToggle[value="lightStrong"] ~ tr.sheet-lightStrong {
  display: table-row;
}

.sheet-darkToggle[value="darkInert"] ~ tr.sheet-darkInert,
.sheet-darkToggle[value="darkWaning"] ~ tr.sheet-darkWaning,
.sheet-darkToggle[value="darkStrong"] ~ tr.sheet-darkStrong {
  display: table-row;
}
