.sheet-fireInert,
.sheet-fireWaning,
.sheet-fireStrong,
.sheet-iceInert,
.sheet-iceWaning,
.sheet-iceStrong,
.sheet-earthInert,
.sheet-earthWaning,
.sheet-earthStrong,
.sheet-airInert,
.sheet-airWaning,
.sheet-airStrong,
.sheet-lightInert,
.sheet-lightWaning,
.sheet-lightStrong,
.sheet-darkInert,
.sheet-darkWaning,
.sheet-darkStrong {
  display: none;
}

/*Show selected element status*/
.sheet-fireToggle[value="fireInert"] ~ div.sheet-fireInert,
.sheet-fireToggle[value="fireWaning"] ~ div.sheet-fireWaning,
.sheet-fireToggle[value="fireStrong"] ~ div.sheet-fireStrong {
  display: block;
}

.sheet-iceToggle[value="iceInert"] ~ div.sheet-iceInert,
.sheet-iceToggle[value="iceWaning"] ~ div.sheet-iceWaning,
.sheet-iceToggle[value="iceStrong"] ~ div.sheet-iceStrong {
  display: block;
}

.sheet-earthToggle[value="earthInert"] ~ div.sheet-earthInert,
.sheet-earthToggle[value="earthWaning"] ~ div.sheet-earthWaning,
.sheet-earthToggle[value="earthStrong"] ~ div.sheet-earthStrong {
  display: block;
}

.sheet-airToggle[value="airInert"] ~ div.sheet-airInert,
.sheet-airToggle[value="airWaning"] ~ div.sheet-airWaning,
.sheet-airToggle[value="airStrong"] ~ div.sheet-airStrong {
  display: block;
}

.sheet-lightToggle[value="lightInert"] ~ div.sheet-lightInert,
.sheet-lightToggle[value="lightWaning"] ~ div.sheet-lightWaning,
.sheet-lightToggle[value="lightStrong"] ~ div.sheet-lightStrong {
  display: block;
}

.sheet-darkToggle[value="darkInert"] ~ div.sheet-darkInert,
.sheet-darkToggle[value="darkWaning"] ~ div.sheet-darkWaning,
.sheet-darkToggle[value="darkStrong"] ~ div.sheet-darkStrong {
  display: block;
}
