.sheet-fireInert,
.sheet-fireWaning,
.sheet-fireStrong,
.sheet-iceInert,
.sheet-iceWaning,
.sheet-iceStrong,
.sheet-earthInert,
.sheet-earthWaning,
.sheet-earthStrong,
.sheet-airInert,
.sheet-airWaning,
.sheet-airStrong,
.sheet-lightInert,
.sheet-lightWaning,
.sheet-lightStrong,
.sheet-darkInert,
.sheet-darkWaning,
.sheet-darkStrong {
  display: none;
}

/*Show selected element status*/
.sheet-fireToggle[value="fireInert"] ~ .sheet-fireInert,
.sheet-fireToggle[value="fireWaning"] ~ .sheet-fireWaning,
.sheet-fireToggle[value="fireStrong"] ~ .sheet-fireStrong {
  display: block;
}

.sheet-iceToggle[value="iceInert"] ~ .sheet-iceInert,
.sheet-iceToggle[value="iceWaning"] ~ .sheet-iceWaning,
.sheet-iceToggle[value="iceStrong"] ~ .sheet-iceStrong {
  display: block;
}

.sheet-earthToggle[value="earthInert"] ~ .sheet-earthInert,
.sheet-earthToggle[value="earthWaning"] ~ .sheet-earthWaning,
.sheet-earthToggle[value="earthStrong"] ~ .sheet-earthStrong {
  display: block;
}

.sheet-airToggle[value="airInert"] ~ .sheet-airInert,
.sheet-airToggle[value="airWaning"] ~ .sheet-airWaning,
.sheet-airToggle[value="airStrong"] ~ .sheet-airStrong {
  display: block;
}

.sheet-lightToggle[value="lightInert"] ~ .sheet-lightInert,
.sheet-lightToggle[value="lightWaning"] ~ .sheet-lightWaning,
.sheet-lightToggle[value="lightStrong"] ~ .sheet-lightStrong {
  display: block;
}

.sheet-darkToggle[value="darkInert"] ~ .sheet-darkInert,
.sheet-darkToggle[value="darkWaning"] ~ .sheet-darkWaning,
.sheet-darkToggle[value="darkStrong"] ~ .sheet-darkStrong {
  display: block;
}
