<section id="experience" class="grey-section">

    <div class="row about-how">
          
        <h1 class="intro-header" data-aos="fade-up">{{experience.header}}</h1>           

        <div class="about-how-content" data-aos="fade-up">
            <div class="about-how-steps block-1-2 block-tab-full group">

                <div class="bgrid step">
                    <h3>{{experience.Cerner}} - {{experience.CernerTeam}}</h3>
                    <h5>{{experience.CernerDate}}</h5>
                    <h4>{{experience.CernerRole}}</h4>
                    <p>{{experience.CernerDescription}}</p> 
                </div>

                <div class="bgrid step">
                    <h3>{{experience.Cerner}} - {{experience.CernerTeam2}}</h3>
                    <h5>{{experience.CernerDate2}}</h5>
                    <h4>{{experience.CernerRole2}}</h4>
                    <p>{{experience.CernerDescription2}}</p> 
                </div>            
           
                <div class="bgrid step">
                    <h3>{{experience.UND}} - {{experience.UNDTeam}}</h3>
                    <h5>{{experience.UNDDate}}</h5>
                    <h4>{{experience.UNDRole}}</h4>
                    <p>{{experience.UNDDescription}}</p> 
                </div>

                <div class="bgrid step">
                    <h3>{{experience.UND}} - {{experience.UGResearchTeam}}</h3>
                    <h5>{{experience.UGResearchDate}}</h5>
                    <h4>{{experience.UGResearchRole}}</h4>
                    <p>{{experience.UGResearchDescription}}</p> 
                </div>

                <div class="bgrid step">
                    <h3>{{experience.Observer}} - {{experience.ObserverTeam}}</h3>
                    <h5>{{experience.ObserverDate}}</h5>
                    <h4>{{experience.ObserverRole}}</h4>
                    <p>{{experience.ObserverDescription}}</p> 
                </div>
            </div>           
       </div> <!-- end about-how-content -->

       <h1 class="intro-header" data-aos="fade-up">{{experience.eduHeader}}</h1>           

        <div class="about-how-content" data-aos="fade-up">
            <div class="about-how-steps block-1-2 block-tab-full group">

                <div class="bgrid step">
                    <h3>{{experience.UND}}</h3>
                    <h5>{{experience.educationDate}}</h5>
                    <h4>{{experience.degree}}</h4>
                    <p>{{experience.CernerDescription}}</p> 
                </div>
            </div>           
       </div> <!-- end about-how-content -->

    </div> <!-- end about-how -->
    
</section> <!-- /features -->