<section id="home" data-parallax="scroll" data-image-src="../../assets/biopicture.jpg" data-natural-width=3000 data-natural-height=2000>

  <div class="home-content">        

    <div class="row contents">                     
        <div class="home-content-left">

            <h3 data-aos="fade-up">{{home.intro}}</h3>

            <h1 data-aos="fade-up">
                {{home.desc1}} <br>
                {{home.desc2}} <br>
                {{home.desc3}}
            </h1>

            <div class="buttons" data-aos="fade-up">
                <a href="https://www.linkedin.com/in/alexander-cao-376337174/" data-lity class="button stroke">
                    <span class="icon-play" aria-hidden="true"></span>
                    {{home.linkedin}}
                </a>
                <a href="https://www.facebook.com/alexander.cao.14" data-lity class="button stroke">
                    <span class="icon-play" aria-hidden="true"></span>
                    {{home.facebook}}
                </a>
            </div>                                         
        </div>

        <div class="home-image-right">
            <img src="../../assets/profilepicture3.jpg"  
                data-aos="fade-up" class="rotate90">
        </div>
    </div>

  </div> <!-- end home-content -->

</section> <!-- end home -->